default:
    suites:
        default:
            contexts:
                - FeatureContext:
                    kernel: '@kernel'
                    dbal: '@doctrine.dbal.default_connection'
                    wireMock: '@WireMock\Client\WireMock'

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
